.cards__wrapper {
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 0 auto;
}

.cards_shell-column > article {
  padding: 0 2rem 2rem;
}

.card__name-column-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container-column {
  max-width: 120.4rem;
  height: 21.3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-big-tablet {
    max-width: 70rem;
  }
  @include media-mobile {
    max-width: 40rem;
  }
}

.card-block__image-column {
  width: 25.0rem;
  height: 21.0rem;
  @include media-big-tablet {
    display: flex;
    align-items: center;
  }
  @include media-mobile {
    width: 20.0rem;
    height: 11.0rem;
  }
}

.card__image-column {
  display: block;
  width: 25.0rem;
  height: 21.0rem;
  object-fit: fill;
  @include media-big-tablet {
    max-width: 15rem;
    height: 10rem;
  }
}

.card__content-column {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin-right: 20rem;
  @include media-big-tablet {
    height: 15rem;
    max-width: 100%;
    margin: 0;
  }
  @include media-mobile {
    display: none;
  }
}

.card__elements-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  > * {
    margin-left: 2rem;
  }
}

.card__price-column {
  font-size: 2.5rem;
  font-weight: 600;
  color: $color-price;
  @include media-big-tablet {
    font-size: 1.5rem;
  }
}

.card__name-stock-column {
  color: $color-rating;
  @include media-big-tablet {
    display: none;
  }
}

.data-cards__empty {
  width: 100%;
  flex-grow: 1;
}
