.footer {
  background-color: $color-footer;
}

.footer__wrapper {
  display: flex;
  @include media-tablet {
    flex-direction: column;
}
}

.footer-logo__container {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url(../../../assets/logo/rs_school_js.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-left: 5rem;
  @include media-tablet {
    margin: auto;
  }

  &:hover {
    cursor: pointer;
  }
}

.footer-navigation {
  flex-grow: 1;
  padding-left: 152px;
  align-items: center;
  @include media-tablet {
    padding-left: 0;
    margin: auto;
  }
}

.footer-navigation__links {
  @extend %font-prim;

  a {
    color: $color-text;
    @extend %transition;
    @include font($size: 1.6rem, $height: 3.5rem, $weight: normal);
    text-decoration: none;

    &:hover {
      color: $color-name;
    }
  }
}

.footer-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8rem;
  @include media-tablet {
    margin: auto;
  }
}

.footer-span-copy {
  color: $color-text;
}
