html {
  font-size: 10px;
  height: 100%;
}

body {
  @extend %font-prim;
  @include font($size: 1.4rem, $height: 2.6rem, $weight: normal);
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

h1 {
  @extend %font-prim;
  @include font($size: 3.4rem, $height: 4.4rem);
}

h2 {
  @include font($size: 2.4rem, $height: 3.6rem);
}

h3 {
  @include font($size: 1.8rem, $height: 2.4rem);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(221, 218, 213);
}

::-webkit-scrollbar-thumb {
  background-color: #3f4244;
  border-radius: 20px;
  border: 2px solid rgb(221, 218, 213);
}

.block-shadowed {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.block-shadowed-basket {
  box-shadow: 5px 10px 30px rgba(8, 192, 23, 1);
  border-radius: 5px;
}

.block-shadowed-column {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.block-shadowed-list-basket {
  box-shadow: 5px 10px 30px rgba(8, 192, 23, 1);
  border-radius: 5px;
}
