html {
  font-size: 10px;
  height: 100%;
}

body {
  @extend %font-prim;
  @include font($size: 1.4rem, $height: 2.6rem, $weight: normal);
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(221, 218, 213);
}

::-webkit-scrollbar-thumb {
  background-color: #3f4244;
  border-radius: 20px;
  border: 2px solid rgb(221, 218, 213);
}
