$color-light: #ffffff;
$color-counter: #06A56C;
$color-text: #F5F5F5;
$color-hovered: #BCD0E5;
$color-footer: #060F42;
$color-border: #06A56C;
$color-hovered: #01579B;;
$color-price: #E93232;
$color-rating: #999999;
$content-width: 153.2rem;
$color-error: #333333;
$color-description: #F4F8FB;
$color-overlay: rgba(80, 80, 80, 0.4);
$color-background-modal: #1a2b47;
$color-text-placeholder: rgba(15, 14, 14, 0.7);
$color-border-header: #999999;
$color-name: #06A56C;

$tablet-big-width: 1175px;
$tablet-width: 768px;
$mobile-big-width: 415px;
$mobile-small-width: 320px;
