$color-light: #ffffff;
$color-counter: #06A56C;
$color-text: #F5F5F5;
$color-hovered: #BCD0E5;
$color-footer: #060F42;
$color-border: #06A56C;
$color-hovered: #01579B;;
$color-price: #E93232;
$color-rating: #999999;
$content-width: 153.2rem;
